<nav class="unified-nav">
  <a href="https://cnewton.org" class="nav-logo">CNEWTON.ORG</a>
  <div class="nav-links">
    <a href="https://cnewton.org#bio">BIO</a>
    <a href="https://blog.cnewton.org" class="nav-active">BLOG</a>
    <a href="https://bsky.app/profile/caseynewton.bsky.social" target="_blank">BLUESKY</a>
    <a href="https://www.threads.net/@crumbler" target="_blank">THREADS</a>
    <a href="https://www.linkedin.com/in/caseynewton1/" target="_blank">LINKEDIN</a>
    <a href="https://signal.me/#eu/JnqpZ8L9OdqPAacsZ4S7BTFjJh4P8EcqfMlsB9pjH9Ve-395dJdCpqbQjWwWGgOt" target="_blank">SIGNAL</a>
  </div>
</nav>
