<div id="now-playing" class="now-playing-widget">
  <div class="now-playing-header">
    <span class="pixel-icon">♪</span>
    <span class="now-playing-label">LAST PLAYED</span>
  </div>
  <div class="now-playing-content">
    <img id="album-art" src="" alt="Album Art" class="album-art">
    <div class="track-info">
      <div id="track-name" class="track-name">Loading...</div>
      <div id="artist-name" class="artist-name"></div>
    </div>
  </div>
  <a id="lastfm-link" href="https://www.last.fm/user/caseyswan" target="_blank" class="lastfm-link">
    View on Last.fm →
  </a>
</div>

<script>
(function() {
  function fetchNowPlaying() {
    fetch('/.netlify/functions/lastfm')
      .then(function(response) { return response.json(); })
      .then(function(data) {
        var track = data.recenttracks.track[0];
        if (track) {
          var isPlaying = track['@attr'] && track['@attr'].nowplaying === 'true';
          var label = document.querySelector('.now-playing-label');
          var widget = document.getElementById('now-playing');

          if (isPlaying) {
            label.textContent = 'NOW PLAYING';
            widget.classList.add('is-playing');
          } else {
            label.textContent = 'LAST PLAYED';
            widget.classList.remove('is-playing');
          }

          document.getElementById('track-name').textContent = track.name;
          document.getElementById('artist-name').textContent = track.artist['#text'];

          var albumArt = track.image[2]['#text'] || track.image[1]['#text'];
          if (albumArt) {
            document.getElementById('album-art').src = albumArt;
          }
          document.getElementById('lastfm-link').href = track.url;
        }
      })
      .catch(function(error) {
        console.log('Error fetching Last.fm data:', error);
      });
  }

  fetchNowPlaying();
  setInterval(fetchNowPlaying, 30000);
})();
</script>
